* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

a {
	text-decoration: none;
	color: #aa4411;
	font-size: 15px;
}

a:hover {
	color: #cc4411;
}

body {
	font-family: RobotoLight, Arial, Helvetica, sans-serif;
	font-color: #fafafa;
	//background-image: url('assets/img/back.jpeg');
	background-color:#333;
}

header {
	width: ;
	height: 65px;
}

.upperBody {
	width: 100%;
	height: 450px; //
	background-image: url('cityNight.jpg');
	background-color: #222;
}

/**********************************************************************/
.upperBody .leftBlockWrapper {
	width: 59%;
	height: 100%;
	float: left;
}

.upperBody .leftBlockWrapper .leftBlock {
	width: 95%;
	height: 350px;
	display: block;
	float: right;
	margin-top: 50px;
	background-color: #111;
	border-top: solid 3px #ffdd11;
}

.upperBody .leftBlockWrapper .leftBlock .heading {
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	margin-top: 10px;
	font-family: Helvetica, sans-serif;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper {
	height: 70px;
	width: 50%;
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 20px;
	float: left;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper2 {
	height: 150px;
	width: 41%;
	margin: 20px 0px 0px 0px;
	padding: 10px 10px 10px 20px;
	float: right;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper2 label {
	margin-left: 10px;
	display: block;
	color: #fff;
	font-size: 12px;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper label {
	margin-left: 10px;
	display: block;
	color: #fff;
	font-size: 12px;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper .fromBlock {
	height: 100%;
	width: 340px;
	float: left;
}

.upperBody .leftBlockWrapper .leftBlock .formWrapper  .toBlock {
	height: 100%;
	width: 340px;
	float: left;
}

.upperBody .leftBlockWrapper  .submitButton {
	display: block;
	height: 100px;
	clear: both;
}

.upperBody .leftBlockWrapper  .submitButton .submit {
	height: 40px;
	width: 160px;
	border-bottom: 5px solid #aa9911;
	float: right;
	margin: 50px 50px 0px 0px;
	color: #111;
	font-weight: bold;
	background-color: #ccaa11;
	font-size: 14px;
}

.upperBody .leftBlockWrapper  .submitButton .submit:hover {
	cursor: pointer;
	border-bottom: 5px solid #997711;
	background-color: #aa8811;
}

/**********************************************************************/
.upperBody .rightBlockWrapper {
	width: 39%;
	height: 100%;
	float: right;
}

.upperBody .rightBlockWrapper .rightBlock .heading {
	font-size: 20px;
	color: #fff;
	padding-left: 10px;
	margin-top: 10px;
	font-family: Helvetica, sans-serif;
}

.upperBody .rightBlockWrapper .rightBlock .formWrapper {
	height: 100%;
	width: 100%;
	margin: 20px 0px 20px 0px;
	padding: 10px 10px 10px 20px;
	float: left;
}

.upperBody .rightBlockWrapper .rightBlock .formWrapper label {
	margin-left: 10px;
	display: block;
	color: #fff;
	font-size: 12px;
	margin-top: 10px;
}

.upperBody .rightBlockWrapper .rightBlock .formWrapper .fromBlock {
	height: 100%;
	width: 340px;
	float: left;
}

.upperBody .rightBlockWrapper .rightBlock .formWrapper  .toBlock {
	height: 100%;
	width: 340px;
	float: left;
}

/**********************************************************************/
.upperBody .leftBlockWrapper  .submitButton {
	display: block;
	height: 100px;
	clear: both;
}

.upperBody .leftBlockWrapper  .submitButton .submit {
	height: 40px;
	width: 160px;
	border-bottom: 5px solid #aa9911;
	float: right;
	margin: 50px 50px 0px 0px;
	color: #111;
	font-weight: bold;
	background-color: #ccaa11;
	font-size: 14px;
}

.upperBody .leftBlockWrapper  .submitButton .submit:hover {
	cursor: pointer;
	border-bottom: 5px solid #997711;
	background-color: #aa8811;
}

/**********************************************************************/
.upperBody .rightBlockWrapper  .submitButton {
	display: block;
	clear: both;
}

.upperBody .rightBlockWrapper  .link {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 20px;
	clear: both;
	padding-left: 40px;
}

.upperBody .rightBlockWrapper  .link a {
	text-decoration: none;
	font-size: 14px;
	color: #aaa;
}

.upperBody .rightBlockWrapper  .link a:hover {
	text-decoration: none;
	font-size: 14px;
	color: #ddd;
}

.upperBody .rightBlockWrapper  .submitButton .submit {
	height: 40px;
	width: 120px;
	border-bottom: 5px solid #aa2211;
	float: right;
	margin: 20px 50px 0px 0px;
	color: #111;
	font-weight: bold;
	background-color: #bb3311;
	font-size: 14px;
}

.upperBody .rightBlockWrapper  .submitButton .submit:hover {
	cursor: pointer;
	border-bottom: 5px solid #992211;
	background-color: #aa2211;
}

.upperBody .rightBlockWrapper {
	width: 39%;
	height: 100%;
	float: right;
}

.upperBody .rightBlockWrapper .rightBlock {
	width: 90%;
	height: 350px;
	display: block;
	float: left;
	margin-top: 50px;
	background-color: #111;
	border-top: solid 3px #ff1111;
}

.lowerBody {
	
}

.foot {
	
}

.textbox {
	margin-left: 15px;
	margin-top: 10px;
	border: 2px solid #333333;
	height: 25px;
	width: 275px;
	font-size: 13px;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.textbox:focus {
	outline: none;
	border: 2px solid #ffdd11;
}