<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>BTRS_Web</display-name>
	<servlet>
		<description>
		</description>
		<display-name>AddNewBusFormController</display-name>
		<servlet-name>AddNewBusFormController</servlet-name>
		<servlet-class>com.cognizant.controller.AddNewBusFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddNewBusOperatorFormController</display-name>
		<servlet-name>AddNewBusOperatorFormController</servlet-name>
		<servlet-class>com.cognizant.controller.AddNewBusOperatorFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BookTicketFormController</display-name>
		<servlet-name>BookTicketFormController</servlet-name>
		<servlet-class>com.cognizant.controller.BookTicketFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CancelTicketFormController</display-name>
		<servlet-name>CancelTicketFormController</servlet-name>
		<servlet-class>com.cognizant.controller.CancelTicketFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChangePasswordFormController</display-name>
		<servlet-name>ChangePasswordFormController</servlet-name>
		<servlet-class>com.cognizant.controller.ChangePasswordFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBusOperatorFormController</display-name>
		<servlet-name>DeleteBusOperatorFormController</servlet-name>
		<servlet-class>com.cognizant.controller.DeleteBusOperatorFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUserFormController</display-name>
		<servlet-name>DeleteUserFormController</servlet-name>
		<servlet-class>com.cognizant.controller.DeleteUserFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditBusDetailsFormController</display-name>
		<servlet-name>EditBusDetailsFormController</servlet-name>
		<servlet-class>com.cognizant.controller.EditBusDetailsFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>EditProfileFormController</display-name>
		<servlet-name>EditProfileFormController</servlet-name>
		<servlet-class>com.cognizant.controller.EditProfileFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAddedBusController</display-name>
		<servlet-name>GetAddedBusController</servlet-name>
		<servlet-class>com.cognizant.controller.GetAddedBusController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetAddedBusesController</display-name>
		<servlet-name>GetAddedBusesController</servlet-name>
		<servlet-class>com.cognizant.controller.GetAddedBusesController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetBookingHistoryController</display-name>
		<servlet-name>GetBookingHistoryController</servlet-name>
		<servlet-class>com.cognizant.controller.GetBookingHistoryController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetBookingInformationController</display-name>
		<servlet-name>GetBookingInformationController</servlet-name>
		<servlet-class>com.cognizant.controller.GetBookingInformationController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>GetBusBookingController</display-name>
		<servlet-name>GetBusBookingController</servlet-name>
		<servlet-class>com.cognizant.controller.GetBusBookingController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LoginFormController</display-name>
		<servlet-name>LoginFormController</servlet-name>
		<servlet-class>com.cognizant.controller.LoginFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SearchBusFormController</display-name>
		<servlet-name>SearchBusFormController</servlet-name>
		<servlet-class>com.cognizant.controller.SearchBusFormController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBusDetailsController</display-name>
		<servlet-name>DeleteBusDetailsController</servlet-name>
		<servlet-class>com.cognizant.controller.DeleteBusDetailsController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RegisterUserController</display-name>
		<servlet-name>RegisterUserController</servlet-name>
		<servlet-class>com.cognizant.controller.RegisterUserController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPasswordController</display-name>
		<servlet-name>ForgotPasswordController</servlet-name>
		<servlet-class>com.cognizant.controller.ForgotPasswordController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteBusOperatorByAdminController</display-name>
		<servlet-name>DeleteBusOperatorByAdminController</servlet-name>
		<servlet-class>com.cognizant.controller.DeleteBusOperatorByAdminController</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutFormController</display-name>
		<servlet-name>LogoutFormController</servlet-name>
		<servlet-class>com.cognizant.controller.LogoutFormController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNewBusFormController</servlet-name>
		<url-pattern>/AddNewBusFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewBusOperatorFormController</servlet-name>
		<url-pattern>/AddNewBusOperatorFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookTicketFormController</servlet-name>
		<url-pattern>/BookTicketFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CancelTicketFormController</servlet-name>
		<url-pattern>/CancelTicketFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChangePasswordFormController</servlet-name>
		<url-pattern>/ChangePasswordFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBusOperatorFormController</servlet-name>
		<url-pattern>/DeleteBusOperatorFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserFormController</servlet-name>
		<url-pattern>/DeleteUserFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditBusDetailsFormController</servlet-name>
		<url-pattern>/EditBusDetailsFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfileFormController</servlet-name>
		<url-pattern>/EditProfileFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAddedBusController</servlet-name>
		<url-pattern>/GetAddedBusController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAddedBusesController</servlet-name>
		<url-pattern>/GetAddedBusesController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBookingHistoryController</servlet-name>
		<url-pattern>/GetBookingHistoryController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBookingInformationController</servlet-name>
		<url-pattern>/GetBookingInformationController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBusDetailsController</servlet-name>
		<url-pattern>/DeleteBusDetailsController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetBusBookingController</servlet-name>
		<url-pattern>/GetBusBookingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginFormController</servlet-name>
		<url-pattern>/LoginFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBusFormController</servlet-name>
		<url-pattern>/SearchBusFormController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterUserController</servlet-name>
		<url-pattern>/RegisterUserController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPasswordController</servlet-name>
		<url-pattern>/ForgotPasswordController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteBusOperatorByAdminController</servlet-name>
		<url-pattern>/DeleteBusOperatorByAdminController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutFormController</servlet-name>
		<url-pattern>/LogoutFormController</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
